@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --btn-large-normal: Poppins;
  --headline-h6: Rubik;

  /* font sizes */
  --btn-large-normal-size: 16px;
  --paragraph-regular-size: 14px;
  --headline-h6-size: 20px;
  --font-size-lg: 18px;
  --headline-h5-size: 24px;
  --headline-h3-size: 48px;

  /* Colors */
  --gray-1: #f3f4f6;
  --gray-18: #3b3c4e;
  --gray-20: #2c2d3a;
  --gray-16: #4f5069;
  --gray-21: #23242f;
  --gray-22: #1a1b23;
  --mask: rgba(0, 0, 0, 0.6);
  --transparent: rgba(0, 0, 0, 0);
  --gray-10: #8b8ca7;
  --gray-3: #dcdde5;
  --white: #fff;
  --primary-5: #0177fb;
  --green-5: #53f3c3;
  --color-orangered: #e33319;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-base: 16px;

  /* Paddings */
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;

  /* border radiuses */
  --br-base: 16px;
  --br-xs: 12px;
  --br-5xl: 24px;
  --br-81xl: 100px;
}
